[submodule "arduino-cmake"]
	path = arduino-cmake
	url = git://github.com/queezythegreat/arduino-cmake.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/ntruchsess/arduino-OneWire.git
